<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="https://assets.raphaelbernhart.at/images/favicon/favicon.ico" type="image/x-icon">

    <title>Butterbrot != Schloss Marille</title>

    <!-- Styles -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div id="app"></div>

    <div id="apiUrl" data-apiurl=<%= apiUrl %>></div>
    <div id="maxFileSize" data-maxfilesize=<%= maxFileSize %>></div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js" integrity="sha256-KyY5SqyBmXeM0zfYBGU1tuqcstxpjkECApypY+CA4Z8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3.0.0-rc.9/dist/vue.global.prod.js"></script>
    <script src="js/upload.js"></script>
</body>
</html>